// Override link color (e.g. "Just the Docs" in the footer)
$link-color: #199473;

// Override sidebar link color (e.g. "Welcome")
$sidebar-color: #f8f9fa; // optional: keep light sidebar
$nav-link-color: #199473;
$nav-link-active-color: #199473;
$nav-link-hover-color: #14785c;

// Optional: accent colors
$accent-color: #199473;
